.list_pages{
  .nav_top{
    height: 88px;
    display: flex;
    line-height: 88px;
    justify-content: space-between;
    margin: 0 22px;
    ._icon_back{
      font-size: 20px;
      font-weight: 200;
    }
    ._title{
      font-size: 18px;
      margin-right: 42%;
    }
  }
  .list_container{
    margin-top: 20px;
    .list_content{
      width: 100%;
      text-align: center;
      background: bisque;
      line-height: 88px;
    }
  }
}